// Default colors
// -------------------------
$primary: #BFB6AD !default;
$secondary: #8DC63F !default;
$secondary-dark: #638c2a !default;
$tertiary: #42C4DD !default;
$tertiary-dark: #1992a9 !default;
$grey: #565656 !default;
$dark-grey: #222 !default;
$light-grey: #f2f2f2 !default;