/* Load in our components */

@import "base/libs/normalize/import-now";
@import "base/libs/reflex";
@import "base/libs/icons/font-awesome";

@import "base/tools/variables";
@import "base/tools/gradients";
@import "base/tools/boxes";
@import "base/tools/buttons";
@import "base/tools/helpers";

@import "base/components/component.header";
@import "base/components/component.loader";
@import "base/components/component.animations";
@import "base/components/component.home";
@import "base/components/component.footer";
@import "base/components/component.login";
@import "base/components/component.register";
@import "base/components/component.pricing";
@import "base/components/component.members";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.row {
    max-width: 1120px;
    margin: auto;    
}

.text--right {
    text-align: right;
}

.init-loader {
    top: 0;
    width:100%;
    height: 100%;
    background: linear-gradient($secondary, $secondary-dark);
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    flex-direction: column;

    &.is-loading {
        opacity: 1;

        & img {
            animation-duration: 0.7s;
            animation-name: fadein;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    h4 {
        animation-duration: 0.7s;
        animation-name: fadein;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        color: #FFF;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
    }

}