<div class="login-content">
<i class="login-close fa fa-times js-action--close-login" aria-hidden="true"></i>
<header class="cover-photo">
    <img src="img/logo-horz--white.svg" alt="">
</header>
<div class="body cf">

<ul class="errors js-errors"></ul>

<a href="#fb-login" class="fb-login">Log In with Facebook</a>
<p class="or-divider"><span>OR</span></p>
<form action="#" class="login-form">
    <input type="text" name="username" id="username" placeholder="Username or email" />
    <input type="text" name="password" id="password" placeholder="Password" />
    <div>
    <input type="submit" value="Login" id="login-form-submit" />
    </div> 
</form>  
</div>
</div>