<nav>
<div class="grid grid--justify-center grid--align-center">
    <div class="grid__col-4 grid--direction-row grid--align-content-space-around grid--justify-space-around">
        <a href="#">Home</a>
        <a href="#">Pricing</a>
    </div>
    <div class="grid__col-4">
        <img src="img/logo-horz.svg" alt="">
    </div>
    <div class="grid__col-4 grid--direction-row grid--align-content-space-around grid--justify-space-around">
        <a href="#">Contact</a>
        <a href="#">Login</a>
    </div>
</div>
</nav>