<div class="ssl">

    <strong>This application is secured by <i class="fa fa-lock"></i> SSL</strong>

</div>

<div class="sub-footer">

    <div class="row">

        <div class="grid grid--justify-center grid--align-center">

        <div class="grid__col-sm-9 grid--direction-row">
        
        <a href="#">Terms & Conditions</a> | <a href="#">Usage Policy</a> | <a href="#">Privacy Policy</a>

        </div>

        <div class="grid__col-sm-3 text--right text-sm--center">
            <img src="img/credits.png" width="100%" class="credits" alt="">
        </div>

        </div>


   </div>     

</div>

<div class="grid grid--justify-center grid--align-center">
    <div class="grid__col-12">
        <img src="img/logo-white.svg" alt="">
    </div>
</div>