<nav>
<div class="grid grid--justify-center grid--align-center grid--bleed">
    <div class="grid__col-4 grid--direction-row grid--align-content-space-around grid--justify-space-around">
        <a href="#">
            <img src="img/home.svg" class="is-svg" alt="">
            Home
        </a>
        <a href="#">
            <img src="img/programs.svg" class="is-svg" alt="">
            Programs
        </a>
    </div>
    <div class="grid__col-4">
        <img src="img/logo-horz.svg" alt="">
    </div>
    <div class="grid__col-4 grid--direction-row grid--align-content-space-around grid--justify-space-around">
        <a href="#">
            <img src="img/coaching.svg" class="is-svg" alt="">
            Coaching
        </a>
        <a href="#" class="is-login js-action--show-login">
            <img src="img/login.svg" class="is-svg" alt=""> 
            Login
        </a>
    </div>
</div>
</nav>