<nav class="row">
<div class="grid grid--bleed">
    <div class="grid__col-sm-4 text--left">
        <img src="img/logo-horz.svg" class="logo" alt="">
    </div>
    <div class="grid__col-sm-8 text--right hide-for-small">
        <a href="">Logout</a>
    </div>
</div>
</nav>

<nav class="mobile-nav hide-for-large hide-for-login">

    <button class="btn-open js-action--mobile-nav"><i class="fa fa-bars" aria-hidden="true"></i></button>

    <div class="menu js-mobile-menu">

        <a href="" class="js-action--logout">Logout</a>

    </div>

</nav>