<div class="register-content">
<i class="register-close fa fa-times js-action--close-register" aria-hidden="true"></i>
<header class="cover-photo">
    <img src="img/logo-horz--white.svg" alt="">
</header>
<div class="body cf">

<ul class="errors js-errors"></ul>

<button class="fb-register js-action--register-facebook">Register with Facebook</button>
<p class="or-divider"><span>OR</span></p>
<form action="#" class="register-form">
    <input type="email" name="email" id="email" placeholder="Enter your email address" class="js-input-email" required validate/>
    <input type="email" name="email-repeat" id="email-repeat" placeholder="Repeat your email address" class="js-input-email--repeat" required validate />
    <input type="password" name="password" id="password" placeholder="Password" class="js-input-password" required validate />
    <input type="password" name="password-repeat" id="password-repeat" placeholder="Repeat Password" class="js-input-password--repeat"  required validate />
    <div>
    <input class="js-action--register" type="submit" value="Register" id="register-form-submit" />
    </div> 
</form>  
</div>
</div>